* {
    font-family: Days;
    margin: 0;
    padding: 0;
    font-size: 24px;
}


@font-face {
    font-family: "Days";
    src: url(./font/Days.otf);
    font-weight: 400;
    font-size: 24px;
}

@font-face {
    font-family: Ambidexter;
    src: url(./font/ambidexter.otf);
    font-size: 128px;
    font-weight: 400;
}

:root {
    font-family: "Days";
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

#alert {
    display: none;
    color: red;
    margin-bottom: 10px;
}

/*Вход */
.form-control {
    background-color: #D9D9D9;
    height: 50px;
    width: 410px;
    text-align: left;
    border-radius: 10px;
    margin: auto;
    font-size: 24px;
}

.form-control:hover {
    background-color: #d9d9d9e1;
}

.card {
    border-radius: 30px;
    width: 500px;
    background-color: #221C21;
    display: block;
    margin: auto;
    margin-top: 70px;
}


.card-body {
    display: table;
    margin: auto;
}

.btn-reg {
    background-color: #BCE36A;
    width: 410px;
    border-radius: 10px;
    display: block;
    margin: auto;
    border: none;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 35px;
}

.btn-log {
    background-color: #BCE36A;
    width: 410px;
    border-radius: 10px;
    display: block;
    margin: auto;
    border: none;
    height: 40px;
    margin-bottom: 35px;
    margin-top: 30px;
}

.btn-link {
    text-decoration: none;
    height: 30px;
}

.btn-link:hover {
    color: #221C21;
    text-decoration: none;
}

.btn-log:hover {
    background-color: #bde36ae1;
}

.login-text {
    color: #C17BE2;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
}

.reg-text {
    color: #BCE36A;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.btn-primary-log {
    background: linear-gradient(to right, #C17BE2, #BCE36A);
    border: none;
    width: 165px;
    height: 40px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    color: #221C21;
    border-radius: 10px;
}

.btn-primary-log:hover {
    background: linear-gradient(to right, #C17BE2, #BCE36A);
    color: #221C21;
}

.invalid-feedback {
    margin-top: 2px;
}

.btn-primary-reg {
    width: 410px;
    background: linear-gradient(to right, #C17BE2, #BCE36A);
    height: 40px;
    font-size: 24px;
    margin-bottom: 30px;
    border-radius: 10px;
    display: block;
}

.btn-primary-reg:hover {
    background: linear-gradient(to right, #C17BE2, #BCE36A);
}

.logInput {
    margin-bottom: 35px;
    height: 50px;
}


.invalid-feedback {
    font-size: 15px;
    color: #ff0000af;
}


.inputs {
    display: table;
    margin: auto;
}

.alert {
    display: block;
    margin: auto;
    width: 500px;
    color: rgba(219, 76, 76, 0.903);

}

/*Стартовая страница*/
.start-page {}

.start-div {
    display: contents;
    justify-content: center;

}

.start-name {
    font-family: Ambidexter;
    font-size: 128px;
    font-weight: 400;
}

.start-text {}

.start-button {}




/**/
.start-page {
    margin: 0;
    padding: 0;
    background-color: #E7E7E7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    /* Добавляем position: relative для родительского элемента */
}

.container {
    text-align: center;
    position: relative;
    /* Для позиционирования кругов */
}

.start-title {
    font-family: Ambidexter;
    font-size: 128px;
    font-weight: 400;
    line-height: 100px;
    margin-bottom: 15px;
    position: relative;
    /* Добавляем position: relative для заголовка */
    z-index: 1;
    /* Устанавливаем z-index для заголовка */
}

.start-description {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    /* Добавляем position: relative для описания */
    z-index: 1;
    /* Устанавливаем z-index для описания */
}

.start-button {
    background: linear-gradient(to left, #C17BE2, #BCE36A);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    transition: background-color 0.3s;
    position: relative;
    /* Добавляем position: relative для кнопки */
    z-index: 1;
    /* Устанавливаем z-index для кнопки */
}

.button:hover {
    background-color: #45a049;
}

.circles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 650px;
    /* Расстояние между кругами */
    row-gap: 170px;
    position: absolute;
    /* Позволяет кругам перекрывать текст */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    width: 250px;
    /* Ширина для верхних кругов */
    height: 250px;
    /* Высота для кругов */
    border-radius: 50%;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.219), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.top-left {
    grid-column: 1;
    grid-row: 1;
}

.top-right {
    grid-column: 2;
    grid-row: 1;
}

.bottom-left {
    grid-column: 1;
    grid-row: 2;
    margin-left: 200px;
}

.bottom-right {
    grid-column: 2;
    grid-row: 2;
    margin-left: -200px;
    /* Сдвиг для нижнего правого круга */
}

.circle.green.top-right {
    background: linear-gradient(100deg, #D9D9D9 25%, #BCE36A);
}

.circle.green.bottom-left {
    background: linear-gradient(230deg, #D9D9D9 25%, #BCE36A);
}

.circle.purple.top-left {
    background: linear-gradient(120deg, #D9D9D9 25%, #C17BE2);
}

.circle.purple.bottom-right {
    background: linear-gradient(70deg, #D9D9D9 25%, #C17BE2);
}



